input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

input[type="checkbox"]:focus {
    outline: 0;
}

.toggle {
    height: 32px;
    width: 52px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid var(--light-gray);
    background-color: var(--light-gray);
    transition: all .2s ease;
}

.toggle:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--white-gray);
    box-shadow: 0 1px 2px var(--darkest-gray);
    transition: all .2s cubic-bezier(.5,.1,.75,1.35);
}

.toggle:checked {
    background-color: var(--light-gray);
}

.toggle:checked:after {
    transform: translatex(20px);
    background-color: var(--blue-sky);
}

.box {
    display: flex;
    align-items: center;
}

.title {
    font-weight: bold;
    padding-left: 16px;
}
      