.button[type = "submit"] {
    background-color: var(--lightest-gray);
    display: block;
    text-align: center;
    border: 2px solid var(--medium-gray);
    font-weight: bold;
    padding: 14px 40px;
    outline: none;
    color: var(--medium-gray);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.button[type = "submit"]:hover {
    background: var(--accent-color);
    color: var(--white-gray);
    border: 2px solid var(--white-gray);
}